<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/a.css}" href="/public/css/a.css" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/b.css}" href="/resources/css/c.css" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/c.css}" href="/static/css/c.css" type="text/css" rel="stylesheet"/>
    <link th:href="@{/static/css/foo.css}" href="/static/css/foo.css" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/hoge-fix.css}" href="/static/css/hoge-fix.css" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/fuga-content.css}" href="/static/css/fuga-content.css" type="text/css" rel="stylesheet"/>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<h2>Hello World!</h2>
</body>
</html>